body {
  font-family: Arial, sans-serif;
  background-color: #222222;
  margin: 0;
  padding: 20px;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: start;
}

.container {
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0 0 10px rgba(9, 5, 5, 0.9);
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}
